@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

html,
body {
  height: 100vh;
}

#root {
  height: 100vh;
}
